/************************
GENERAL
************************/
body {
  font-family: 'open sans', sans-serif;
}

a {
  text-decoration:none;
  color: #6ab47b;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0;
  font-size: 3.00em;
  font-weight: normal;
  line-height: 0.8em;
  padding-top: 10px;
}

h2 {
  font-size: 1.25em;
  margin: -5px 0 0;
  font-weight: normal;
}

h3 {
  margin: 0 0 1.5em 0;    /*There was an error on the em so 1.5 might not be right */
}
img {
  max-width: 100%;
}


/*****************************
NAVIGATION
*****************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  font-size: 1.4em;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    font-size: 1.4em;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/*****************************
HEADER
*****************************/
header {
  background: #6ab47b;
  border-color: #599a68;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

h1, h2 {
  color: #eee;
}

nav {
  background: #599a68;
}

nav a, nav a:visited {
  color: #fff;
}


/*****************************
FOOTER
BTW clear: both; Resets the footer to the bottom of the page like it was before. It 'clears' the floating that was applied to it.
*****************************/
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 27px;
  height: 27px;
  margin: 0 5px;
}


/*****************************
PAGE: PORTFOLIO     BTW list-style: none; removes all bullets from a list.
*****************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}


/* This changes the color of a link that has been clicked on? I think? Also hover changes the color of a link that you mouse is hovering over :) */
nav a.selected, nav a:hover {
  color: #32673f;
}

body {
  background-color: #fff;
  color: #999;
}


/*****************************
PAGE: ABOUT     BTW border-radius: 100%; rounds the corners all the way, so that it esstentially becomes a circle
*****************************/

.profile-photo {
  display: block;
  max-width: 200px;
  margin: 0 auto 30px;
  border-radius: 50%;
}

p {
  margin: auto;
}

#about_info {
  text-align: 
}
/*******************
PAGE: CONTACT with icons
********************/
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
}

.contact-info li.phone a {
   background-image: url('img/phone.png');
}

.contact-info li.mail a {
   background-image: url('img/mail.png');
}

.contact-info li.twitter a {
   background-image: url('img/twitter.png');
}
